
header{
  background-color: #24292e;
  height: 80px;
  width: 100%;
}

header h1{
  margin-top: 0;
  color: white;
}

.content{
  margin-bottom: 400px;
  padding: 0 10%;
  overflow: hidden;
}

footer{
  background-color: #24292e;
  height: 80px;
  width: 100%;
}

footer h1{
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-movie{
  position: absolute;
  top: 15%;
  right: 0;
  left: 0;
  width: 560px;
  padding-bottom: 60px;
  margin: auto;
  border-radius: 8px;
}

.movie-form{
  margin-bottom: 80px;
}

.movie-form input{
  margin-left: 10px;
  margin-right: 30px;
}

.submitbtn{
  width: 80px;
  font-size: 20px;
}

.movie-content{
  width: 45%;
  padding: 5px;
  margin-bottom: 40px;
  float: left;
  border: solid #24292e 1px;
}
.movie-content:nth-child(odd){
  margin-right: 5%;
}


.App {
  position: relative;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
